<h1>¡CRASSSSSSHHHHHHHHHH!</h1>

<a href="http://www.gifmania.com/Gif-Animados-Humor/Imagenes-Accidentes/Accidentes-De-Bicicleta/" target="_blank"><img src="http://www.gifmania.com/Gif-Animados-Humor/Imagenes-Accidentes/Accidentes-De-Bicicleta/Accidente-Bicicleta-Divertido-77041.gif" alt="Accidentes de Bicicleta - GIFMANIA" /></a><br>

<%= link_to 'Back', contacts_path %>